.button {
    border-radius: 5px;
    padding: 10px 30px;
    font-family: 'Courier';
    font-weight: bold;
    background-color: #3C64B1;
    color: white;
    border: none;
}

.button:hover {
    background-color: #144cb4;
    color: white;
}