#petForm {
    margin: auto;
    width: 60%;
}

#disp-check {
    transform: scale(1.5);
    margin-right: 4%;
    margin-left: 2%;
    margin-bottom: 3%;
    margin-top: 2%;
}

#description {
    margin-bottom: 2%;
    width: 60%;
    float: right;
    margin-right: 26%;
    height: 200px;
}

#create-select {
    transform: scale(1.25);
    margin-right: 12%;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#create-label {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 1%;
}

#disposition {
    background-color: #C4C4C4;
    float: right;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 74%;
    margin-right: 12%;
}

#dispositionLabel {
    font-size: large;
    font-weight: bold;
}

#dispositionLabel-right {
    font-size: large;
    font-weight: bold;
    margin-left: 11%;
}

#name {
    width: 40%;
    margin-bottom: 2%;
    margin-left: 5%;
}

#create-save {
    border-radius: 5px;
    padding: 10px 30px;
    font-family: 'Courier';
    font-weight: bold;
    background-color: #3C64B1;
    color: white;
    border: none;
    float: right;
    margin-top: 10%;
}

#create-save:hover {
    background-color: #144cb4;
    color: white;
}

#descriptionBox {
    margin-top: 10%;
}

#photoBox {
    margin-top: 25%;
}