#petForm {
    margin: auto;
    width: 60%;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 4%;
    margin-left: 1%;
    margin-bottom: 3%;
    margin-top: 2%;
}

#description {
    margin-bottom: 3%;
    width: 60%;
    float: right;
    margin-right: 20%;
    height: 200px;
}

select {
    transform: scale(1.25);
    margin-right: 12%;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}

label {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 1%;
}

#disposition {
    background-color: #C4C4C4;
    float: right;
    padding-left: 3%;
    padding-top: 2%;
    width: 75%;
    margin-right: 8%;
}

#name {
    width: 40%;
    margin-bottom: 2%;
    margin-left: 5%;
}

#save {
    border-radius: 5px;
    padding: 10px 30px;
    font-family: 'Courier';
    font-weight: bold;
    background-color: #3C64B1;
    color: white;
    border: none;
    float: right;
}

#save:hover {
    background-color: #144cb4;
    color: white;
}

#descriptionBox {
    margin-top: 10%;
}

#photoBox {
    margin-top: 25%;
}

#edit-photos {
    list-style-type: none;
}

#pet-image {
    display: flex;
}

#delete {
    display: flex;
}