#pet-image {
    width: 70%;
}

#disposition-list {
    margin-top: 5%;
}

#left-column {
    float: left;
    width: 40%;
}

#left-container {
    margin-left: 30%;
    margin-top: 5%;
}

#right-column {
    float: right;
    width: 60%;
}

#main-pet-data {
    padding-top: 10%;
}

#edit-pet, #leave-profile {
    border-radius: 5px;
    padding: 10px 30px;
    font-family: 'Courier';
    font-weight: bold;
    background-color: #3C64B1;
    color: white;
    border: none;
    float: right;
    margin: 4%;
}

#edit-pet:hover, #leave-profile:hover {
    background-color: #144cb4;
    color: white;
}

#profile-buttons {
    margin-top: 10%;
    margin-right: 5%;
}

#pet-name {
    margin-bottom: 2%;
}

#small-photo {
    margin: 2%;
    width: 16%;
}

#small-photo:hover {
    opacity: 0.38;
}