#pet-image {
    width: 20%;
    height: 25%;
    margin-left: 15%;
    margin-right: 5%;
    float: left;
}

#main-pet-data {
    padding-top: 5%;
}

#edit-pet, #leave-profile {
    border-radius: 5px;
    padding: 10px 30px;
    font-family: 'Courier';
    font-weight: bold;
    background-color: #3C64B1;
    color: white;
    border: none;
    float: right;
    margin: 4%;
}

#edit-pet:hover, #leave-profile:hover {
    background-color: #144cb4;
    color: white;
}

