* {
    font-family: 'Courier';
}

form {
    padding-left: 30px;
    padding-top: 30px;
}

.form-group {
    padding-bottom: 30px;
}

.form-section-header {
    font-size: large;
    font-weight: bold;
}

.form-field-group {
    padding: 10px 15px;
}

.form-field-group label{
    padding-right: 150px;
}

.form-input-field  {
    display: flex;
    flex-direction:column; 
    padding-right: 20px;
    width: 500px;
}

.form-input-field input {
    width: 200px;
}

/* div{
    border: 1px solid red;
} */

.input-pair {
    display:flex;
    flex-direction:row;
    overflow-wrap: break-word;
}

.submit-btn, .edit-password-btn{
    border-radius: 5px;
    padding: 10px 30px;
    font-family: 'Courier';
    font-weight: bold;
    background-color: #3C64B1;
    color: white;
    border: none;
}

.submit-btn:hover, .edit-password-btn:hover {
    background-color: #144cb4;
    color: white;
}

.submit-btn-block1 {
    text-align: center;
}

.form-error-msg {
    color: red;
}

.delete-btn-block {
    padding-top: 10px;
    text-align: center;
}

.delete-btn {
    border-radius: 5px;
    padding: 10px 30px;
    font-family: 'Courier';
    font-weight: bold;
    background-color:rgb(189, 0, 0);
    color: white;
    border: none;
}

.delete-btn:hover {
    background-color: rgb(218, 2, 2);
    color: white;
}